<div class="container">
    <table>
        <tr>
            <td><!-- Void space --></td>
            <td>Date1 15 Dic 2103</td>
            <td>Date1 16 Dic 2103</td>
            <td>Date1 17 Dic 2103</td>
        </tr>
        <tr class="available-duration">
            <td class="name">Max Available Duration</td>
			<td><div class="slider"></div></td>
			<td><div class="slider"></div></td>
			<td><div class="slider"></div></td>
        </tr>
        <tr class="available-duration">
			<td class="name"><input placeholder="new entry" value="Tim Ruhoff"></td>
            <td><div class="slider"></div></td>
            <td><div class="slider"></div></td>
            <td><div class="slider"></div></td>
        </tr>
    </table>
</div>